body {
    background-color: #f9f9f9;
}

.container{
    top: 20%;
    padding-bottom: 40px;
}

.form-control {
    display: inline;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin: 2%;
    width: 15%;
    box-sizing: border-box;
}

.fixed{
    position: fixed;
    top: 80%;
    right: 46%;

}

.navn{
    top: 87.5%;
    right: 44.5%;
}

.next{
    position: fixed;
    top: 80%;
    left: 78.5%;
}

.img-rounded{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.last{
    position: fixed;
    top: 80%;
    right: 78.5%;
}